body{
    font-family: Roboto;
}

header{
    background-color: #f2f2f2;
}

.header-main{
    color: #20a8b4;
    margin-bottom: 0;
}

main {
    color: black;
}
.alt{
    color: #ff5c0f;
    margin-bottom: 0;
}

.nav-list{
    list-style-type: none;
    margin-bottom: 0;
}

li{
    padding: 2px;
    font-weight: bold;
    color: black;
}

.button{
    padding: 12px;
    border-radius: 10px;
    margin: 10px;
    background-color: #20a8b4;
}

.button:hover{
    background-color: #ff5c0f;
}
header P{
    color: white;
}

a:hover{
    color: #ff5c0f;
}

body p{
    font-weight: bold;
}


main section section p{
    color: white;
}

@media screen{
    .main-header{
        display: flex;
        justify-content: flex-start;
        padding-bottom: 10px;
    }
    .nav-list{
        padding-left: 0;
        padding-bottom: 0px;
        font-weight: bold;
        margin-top: 0;
    }
    img{
        width: 0px;
    }
    .button {
        width: 100%;
        padding: 12px;
        border-radius: 10px;
        margin: 10px;
    }
}


@media screen and (min-width: 768px){
    main.header{
        display: flex;
        justify-content: flex-start;
    }
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    nav{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    ul{
        display: flex;
        flex-direction: row;
    }
    li{
        padding-right: 10px ;
    }
    main{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 80px;
    }
    img{
        width: 506px;
    }
    section .button{
        width: auto;
    }
}

